/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	background-image: "home-background.jpg";
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1em 1em 1em;
	margin: 0em 0em 0em;
}

.homebackground {
	background-image: url(home-background.jpg); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1em 1em 1em;
    text-align: left;
    }

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(204, 204, 204);
	padding: 1em 1em;
	}

h1 {
	width: 10em;
	}

h2, h3, h4 {
		font-weight: bold;
		font-family: sans-serif;
	}

h2 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	}
	
h3 {
	font-size: 1.3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 0.9em;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	text-transform: uppercase;
	font-family: sans-serif;
	}
	
ul li 	{
	list-style-type: none;
}

.figure {
	margin-bottom: 2em;
}

main.menu ul {
		margin: 0em 0em;
		
}	

main.menu ul li {
		margin: 1em 0em 1.5em;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 2fr;
}	

p.about {
	margin: 1em 0em 1em;
	}

p	{
	font-family: sans-serif;
	font-size: 0.9em;
	margin: 0em 0em 0em;
}
	
p.description {
	grid-column: 1/3;
	margin: ____;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(213, 17, 17);
	text-align: right;
	margin: ____;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(245, 245, 55);
	background-color: rgb(0, 5, 250);
	padding: 0.3em 0.3em 0.3em;
	}
	

p.slogan {
	font-size: 4.5em;
	font-family: serif;
	font-style: italic;
	margin: 1em 0em 1em;
	color: rgb(255, 255, 255);	
	}

p.hours {
	margin: 1em 0em 1em;
}

p.hoursend {
	margin: 1em 0em 10em;
}

footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(245, 245, 55);
}

address.home {
	color: rgb(221, 134, 26);
	margin: 3em 0em 10em;
	}

address {
	color: rgb(221, 134, 26);
	margin: 1em 0em 1em;
	}

footer p {
	margin: 0;
}

